:root {
    --color_background_light: #fff;
    --color_background_dark: #4198ac;
    --color_card: #51999f;
    --color_shadow_dark: #333;
    --color_shadow_light: #bfdfd2;
    --color_active: #ed8d5a;
    --color_hover: #dbcb92;
    --color_title: #ecb66c;
    --color_font_shadow: #7bc0c0;
    --color_font_content: #ea9e58;
}
* {
    box-sizing: border-box;
    margin: 5px;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
}
header {
    text-align: center;
}
/* header p {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
} */

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
nav li a {
    text-decoration: none;
}
main {
    display: flex;
    justify-content: space-around;
}
footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.project-card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    background-color: var(--color_background_light);
    box-shadow: -5px 5px 5px var(--color_shadow_dark);
    padding: 5px;
}
